body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fa;
  margin: 0;
  padding: 0;
}

.center-div {
  text-align: center;
}

.btn {
  background: #8bde8e;
  border-radius: 0.5rem;
  padding: 0.8rem;
  display: inline-block;
  a {
    text-decoration: none;
  }
}

form div {
  margin-bottom: 10px;
}

h1 {
  color: #333;
}

h2 {
  color: #333;
}

table {
  width: 70%;
  display: inline-table;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

th {
  background-color: #8bde8e;
  color: white;
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.form-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.form-container label,
.form-container input,
.form-container select,
.form-container button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.form-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

#converted-amount {
  margin-top: 20px;
  font-size: 1rem;
}

#rate-breakdown {
  font-size: 0.9rem;
  color: gray;
}

#amount-input-section {
  input {
    inline-size: auto;
  }
}

/* Remove arrows from number input in convert view*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}