body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fa;
  margin: 0;
  padding: 0;
}

.index-table {
  text-align: center;
}

h1 {
  color: #333;
}

h2 {
  color: #333;
}

table {
  width: 70%;
  display: inline-table;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

th {
  background-color: #8bde8e;
  color: white;
}
